<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Demo Angular</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a routerLink="category">List Category</a>
                            </li>
                            <li>
                                <a routerLink="input-category">Input Category</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Product
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a routerLink="product">List Product</a>
                            </li>
                            <li>
                                <a routerLink="input-product">Input Product</a>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="!isLogin()" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a routerLink="login">Sign In</a>
                            </li>
                            <li>
                                <a routerLink="register">Sing Up</a>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="isLogin()">
                        <a (click)="onLogout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<br />
<br />
<br />
<router-outlet></router-outlet>