<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Spring MVC</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div class="container">
		<div class="col-lg-3">
			<div class="row">
				<div class="col-lg-12">				
					<ul class="list-group">
						<li class="list-group-item"><a href="/">All Products</a></li>
						<li th:each="category : ${categories}" class="list-group-item">
							<a th:href="@{/product/}+${category.id}"><span th:text="${category.name}"></span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Price</th>
						<th>Description</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product: ${products}">
						<td th:text="${product.name}"></td>
						<td th:text="${product.harga}"></td>
						<td th:text="${product.description}"></td>
						<td style="width: 100px">
							<a class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
							<a class="btn btn-success"><i class="fa fa-eye" aria-hidden="true"></i></a>
						</td>
					</tr>
					<tr th:if="${products.isEmpty()}">
						<td colspan="4">No Records found</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div th:replace="fragments/footer::footer"></div>
</body>
</html>