<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Spring MVC</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div class="container">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<h3 class="text-center">Sign Up</h3>
			<form method="post" th:action="@{/signup}" th:object="${user}">
				<div class="form-group">
					<label for="name">Full Name</label> <input type="text"
						class="form-control" th:field="*{fullName}" />
				</div>
				<div class="form-group">
					<label for="name">Email</label> <input type="text"
						class="form-control" th:field="*{email}" />
				</div>
				<div class="form-group">
					<label for="name">Password</label> <input type="password"
						class="form-control" th:field="*{password}" />
				</div>
				<p>
					<input type="submit" class="btn btn-success" value="Register" />
				</p>
			</form>
		</div>
		<div class="col-lg-4"></div>
	</div>
	<div th:replace="fragments/footer::footer"></div>

</body>
</html>